
			<div class="top-bar">
				<div class="container">
					<nav>
						<ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
							<li class="menu-item animate-dropdown">
								<a title="Thế giới thiết bị điện tử" href="{{base_url}}">Thế giới thiết bị điện tử</a>
							</li>
						</ul>
					</nav>

					<nav>
						<ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
							<li class="menu-item animate-dropdown">
								<a title="Showroom" href="#">
									<i class="ec ec-map-pointer"></i>Showroom</a>
							</li>
							<li class="menu-item animate-dropdown">
								<a title="Đơn hàng" href="track-your-order.html">
									<i class="ec ec-transport"></i>Đơn hàng</a>
							</li>
							<li class="menu-item animate-dropdown">
								<a title="Shop" href="{{url('shop')}}">
									<i class="ec ec-shopping-bag"></i>Shop</a>
							</li>
							{% if auth_check() %}
								<li class="menu-item animate-dropdown dropdown">
								<a title="{{getUserInformation('username')}}" href="#" data-toggle="dropdown" aria-expanded="true">
									<i class="ec ec-user"></i>{{getUserInformation('username')}}</a>
									<div class="dropdown-menu">
                        <a href="/user/profile" class="dropdown-item">Trang cá nhân</a>
                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Đăng xuất</a>
									</div>
							</li>
							{% else %}

							<li class="menu-item animate-dropdown">
								<a title="Đăng nhập" href="{{url('user/login')}}">
									<i class="ec ec-user"></i>Đăng nhập</a>
							</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
			<!-- /.top-bar -->
				<div class="modal modal-warning fade" id="logoutModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Đăng xuất</h4>
              </div>
              <div class="modal-body">
                <p>Đăng xuất tài khoản {{getUserInformation('username')}} ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Đóng</button>
                <a href="/user/logout" class="btn btn-primary">Đăng xuất</a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
			
