{% extends 'admin/layouts/base.twig' %}
{% block css %}
{{ asset_css('dataTables.bootstrap.min.css') }}
{% endblock %}
{% block javascript %}
{{ asset_js('jquery.dataTables.min.js') }}
{{ asset_js('dataTables.bootstrap.min.js') }}
<script>
  $(function () {
    $('#example1').DataTable()
  })
</script>
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý người dùng
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/admin/users">Người dùng</a></li>
        <li class="/admin/users/index">Thông tin</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <div class="box-title">Thêm người dùng</div>
          </div>
          <div class="box-body">
            <button class="btn btn-primary">Thêm người dùng</button>
            <button class="btn btn-danger">Xóa người dùng</button>
          </div>
        </div>
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Thông tin người dùng</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Ngày tham gia</th>
                  <th>Group Id</th>
                  <th>Ảnh đại diện</th>
                  <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                	<td>{{user.id}}</td>
                	<td>{{user.username}}</td>
                	<td>{{user.email}}</td>
                	<td>{{user.created_date}}</td>
                	<td>{{user.group_id}}</td>
                  <td><img src="{{user.avatar}}" class="img-circle" width="45" alt="User Avatar"></td>
                	{#<td>{{asset_img(user.avatar,{'class':'img-circle','width':'45'})}}</td>#}
                	<td>
                		<a href="" class="btn btn-primary btn-xs">Xem</a>
                		<a href="" class="btn btn-warning btn-xs">Sửa</a>
                		<a href="" class="btn btn-danger btn-xs">Xóa</a>
                	</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}