{% extends "frontend/layouts/base.twig" %}
{% block css %}
<link href="/assets/css/checkout.css" rel="stylesheet">
{% endblock %}
{% block javascript %}
<script>
		function getCommune(idDistrict)
		{
		///checkout/getprovince/getCommune?idDistrict=001
			$.ajax({
				url:"/checkout/getprovince/getCommune?idDistrict=" + idDistrict,
				type:"GET",
				success:function(response){
					$("#commune").html(response)
					$("#commune").prepend("<option selected>--Chọn xã/phường/thị trấn--</option>")
					$("#commune").niceSelect('update')
				}
			})
		}

		function getDistrict(idProvince)
		{
		///checkout/getprovince/getDistrict?idProvince=01
			$.ajax({
				url:"/checkout/getprovince/getDistrict?idProvince=" + idProvince,
				type:"GET",
				success:function(response){
					$("#district").html(response)
					$("#district").prepend("<option selected>--Chọn huyện/quận--</option>")
					$("#district").niceSelect('update')
				}
			})
		}

    	// Other address Panel
		$('#other_addr input').on("change", function (){
	        if(this.checked)
	            $('#other_addr_c').fadeIn('fast');
	        else
	            $('#other_addr_c').fadeOut('fast');
	    });
		$(document).ready(function() {
			//http://electrostore.xyz/checkout/getprovince/getAllProvince
			$.ajax({
				url:"/checkout/getprovince/getAllProvince",
				type:"GET",
				success:function(response){
					$("#province").html(response)
					$("#province").prepend("<option selected>--Chọn tỉnh/thành phố--</option>")
					$("#province").niceSelect('update')
				}
			})
			$('#province').change(function (){
				getDistrict($(this).children("option:selected").val())
			})
			$('#district').change(function (){
				getCommune($(this).children("option:selected").val())
			})
			$('#commune').change(function (){
				var address = $('#commune option:selected').text() +', '+ $("#district option:selected").text() +', '+ $("#province option:selected").text()
				
				$("#address").val(address)
			})
		})
	</script>
{% endblock %}
{% block content %}
<main class="bg_gray">
	
		
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Đơn hàng</a></li>
					<li>Thanh toán</li>
				</ul>
		</div>
		<h1>Thông tin đặt hàng</h1>
			
	</div>
	<!-- /page_header -->
			<form action="/checkout/confirm" method="post">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="step first">
						<h3>1. Thông tin giao hàng</h3>
						<p>Tên: {{user.firstname}} {{user.lastname}}</p>
						<p>Email: {{user.email}}</p>
						<p>Số điện thoại: {{user.phone_number}}</p>
						<p>Địa chỉ: {{user.address}}</p>
							<hr>
							<div class="row no-gutters">
								<div class="col-6 form-group pr-1">
									<input type="text" class="form-control" name="first_name" placeholder="Name" value="{{user.firstname}}">
								</div>
								<div class="col-6 form-group pl-1">
									<input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{user.lastname}}">
								</div>
							</div>
							<!-- /row -->
							<div class="form-group">
								<input type="text" class="form-control" id="address" name="address" placeholder="Full Address" value="{{user.address}}">
							</div>
							<div class="row no-gutters">
								<div class="col-6 form-group pr-1">
									<div class="custom-select-form">
										<select class="wide" name="province" id="province" class="form-control">
											<option selected>--Chọn tỉnh/thành phố--</option>
										</select>
									</div>
								</div>
								<div class="col-6 form-group pl-1">
									<div class="custom-select-form">
										<select class="wide" name="district" id="district" class="form-control">
											<option selected>--Chọn huyện/quận--</option>
										</select>
									</div>
								</div>
							</div>
							<!-- /row -->
							<div class="row no-gutters">
								<div class="col-md-12 form-group">
									<div class="custom-select-form">
										<select class="wide add_bottom_15" name="commune" id="commune">
											<option selected>--Chọn xã/phường/thị trấn--</option>
										</select>
									</div>
								</div>
							</div>
							<!-- /row -->
							<div class="form-group">
								<input type="text" class="form-control" name="phone_number" placeholder="Telephone" value="{{user.phone_number}}">
							</div>
							<hr>
							<div class="form-group">
								<label class="container_check" id="other_addr">Other billing address
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</div>
							<div id="other_addr_c" class="pt-2">
							<div class="row no-gutters">
								<div class="col-6 form-group pr-1">
									<input type="text" class="form-control" name="other_first_name" placeholder="Name">
								</div>
								<div class="col-6 form-group pl-1">
									<input type="text" class="form-control" name="other_last_name" placeholder="Last Name">
								</div>
							</div>
							<!-- /row -->
							<div class="form-group">
								<input type="text" class="form-control" name="other_address" placeholder="Full Address">
							</div>
							<div class="row no-gutters">
								<div class="col-6 form-group pr-1">
									<input type="text" class="form-control" name="other_city" placeholder="City">
								</div>
								<div class="col-6 form-group pl-1">
									<input type="text" class="form-control" name="other_postal_code" placeholder="Postal code">
								</div>
							</div>
							<!-- /row -->
							<div class="row no-gutters">
								<div class="col-md-12 form-group">
									<div class="custom-select-form">
										<select class="wide add_bottom_15" name="other_country" id="country_2">
											<option value="" selected>Country</option>
											<option value="VietNam">Việt Nam</option>
										</select>
									</div>
								</div>
							</div>
							<!-- /row -->
							<div class="form-group">
								<input type="text" class="form-control" name="other_phone_number" placeholder="Telephone">
							</div>
							</div>
							<!-- /other_addr_c -->
							<hr>
					</div>
					<!-- /step -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="step middle payments">
						<h3>2. Thanh toán và vận chuyển</h3>
							<ul>
								<li>
									<label class="container_radio">Credit Card<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
										<input type="radio" name="payment" value="creditcard" checked>
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Paypal<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
										<input type="radio" name="payment" value="paypal">
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Cash on delivery<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
										<input type="radio" name="payment" value="cod">
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Bank Transfer<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
										<input type="radio" name="payment" value="bankcard">
										<span class="checkmark"></span>
									</label>
								</li>
							</ul>
							<div class="payment_info d-none d-sm-block"><figure><img src="/assets/img/cards_all.svg" alt=""></figure>	<p>Sensibus reformidans interpretaris sit ne, nec errem nostrum et, te nec meliore philosophia. At vix quidam periculis. Solet tritani ad pri, no iisque definitiones sea.</p></div>
							
							<h6 class="pb-2">Phương thức vận chuyển</h6>
							
						
							<ul>
								<li>
									<label class="container_radio">Standard shipping<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
										<input type="radio" name="shipping" value="1" checked>
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Express shipping<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
										<input type="radio" name="shipping" value="2">
										<span class="checkmark"></span>
									</label>
								</li>
							</ul>
						
					</div>
					<!-- /step -->
					
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="step last">
						<h3>3. Danh sách sản phẩm</h3>
					<div class="box_general summary">
						{% for cart_item in cart_items %}
						<ul>
							<li class="clearfix"><em>{{cart_item.qty}}x {{cart_item.name}}</em>  <span>{{vndFormater(cart_item.price)}}</span></li>
						</ul>
						{% endfor %}
						<ul>
							<li class="clearfix"><em><strong>Subtotal</strong></em>  <span>{{ vndFormater(sub_total) }}</span></li>
							<li class="clearfix"><em><strong>Shipping</strong></em> <span>{{ shipping }}&#8363;</span></li>
							
						</ul>
						<div class="total clearfix">TOTAL <span>{{total_cart}}&#8363;</span></div>
						<div class="form-group">
								<label class="container_check">Register to the Newsletter.
								  <input type="checkbox" checked>
								  <span class="checkmark"></span>
								</label>
							</div>
						
						<button type="submit" class="btn_1 full-width">Confirm and Pay</button>
					</div>
					<!-- /box_general -->
					</div>
					<!-- /step -->
				</div>
			</div>
			<!-- /row -->
			</form>
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
{% endblock %}