<div class="images electro-gallery">
	<div class="thumbnails-single owl-carousel">
		<a href="{{url(product_image.1)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{url('assets/images/blank.gif')}}" data-echo="{{url(product_image.1)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.2)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{url('assets/images/blank.gif')}}" data-echo="{{url(product_image.2)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.3)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{url('assets/images/blank.gif')}}" data-echo="{{url(product_image.3)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.4)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{url('assets/images/blank.gif')}}" data-echo="{{url(product_image.4)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.5)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{url('assets/images/blank.gif')}}" data-echo="{{url(product_image.5)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.6)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{url('assets/images/blank.gif')}}" data-echo="{{url(product_image.6)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.7)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{url('assets/images/blank.gif')}}" data-echo="{{url(product_image.7)}}" class="wp-post-image" alt=""></a>
	</div>
	<!-- .thumbnails-single -->

	<div class="thumbnails-all columns-5 owl-carousel">
		<a href="{{url(product_image.1)}}" class="first" title=""><img src="assets/images/blank.gif" data-echo="{{url(product_image.1)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.2)}}" class="" title=""><img src="assets/images/blank.gif" data-echo="{{url(product_image.2)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.3)}}" class="" title=""><img src="assets/images/blank.gif" data-echo="{{url(product_image.3)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.4)}}" class="" title=""><img src="assets/images/blank.gif" data-echo="{{url(product_image.4)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.5)}}" class="last" title=""><img src="assets/images/blank.gif" data-echo="{{url(product_image.5)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.6)}}" class="first" title=""><img src="assets/images/blank.gif" data-echo="{{url(product_image.6)}}" class="wp-post-image" alt=""></a>

		<a href="{{url(product_image.7)}}" class="first" title=""><img src="assets/images/blank.gif" data-echo="{{url(product_image.7)}}" class="wp-post-image" alt=""></a>
	</div>
	<!-- .thumbnails-all -->
</div>
<!-- .electro-gallery -->
